.story {
  background-color: $color-white;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  border-radius: .3rem;
  font-size: $default-font-size;
  margin: 0 auto;
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);

  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    position: relative;

    clip-path:  circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__img {
    backface-visibility: hidden;
    height:100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption{
    color: $color-white;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(.3rem) brightness(80%);
  }
}