.story {
  background-color: $color-white;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  border-radius: .3rem;
  font-size: $default-font-size;
  margin: 0 auto;
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);

  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);

    clip-path:  circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__img {
    height:100%;
  }

  &__text {
    transform: skewX(12deg);
  }
}