body {
    color: $color-grey-dark;
    font-family: "Lato", sans-serif;
    font-weight: 400;
   /* font-size: 16px;  */
    line-height: 1.7;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    backface-visibility: hidden;
    text-transform: uppercase;
    margin: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        /* animation-delay: 3s; --after how long once the page loads does the animation start-- */
        /* animation-iteration-count: 3; --how many times the animation repeats itself-- */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: transparent;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-background-clip: text;
    letter-spacing: 2px;
    transition: all .5s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem .1rem .2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}